<br /><br /><br />

<h2>All Products</h2>

<br />

<br />

<% Cart.all.each do |cart| %>
  <p>Name: <%= cart.products %> </p>

  <%= cart.quantity %>
  <p>
    <%= link_to "Edit", edit_cart_path(cart) %> |
    <%= link_to "Delete", cart_path(cart), method: :delete, data: {confirm: "Are you sure?"} %>
    
  </p>
<% end%>